__pycache__/*
.ipynb_checkpoints
docs/build
GlyCONFORMER.egg-info
dist
build
Compare_M5G0.ipynb
Compare_M5G0/
GlyCONFORMER_M5G0.ipynb
GlyCONFORMER_M5G0_01_native.ipynb
GlyCONFORMER_M5G0_02_D204A.ipynb
GlyCONFORMER_M5G0_01_native_recomputed.ipynb
GlyCONFORMER_M5_07_native.ipynb
glyconformer/__pycache__