:root {
    --opacity_full: 100%;
    --opacity_half: 50%;
  }


.stTabs > div > div > div > button {
    width: 50%;
}

.stProgress {
    display: flex;
    align-items: baseline;
}

.stProgress > :first-child {
    width: 40px;
}

/*
div:has(> div.stMarkdown > div > #progress_start) + div { 
    background-color: aqua;
    position: fixed;
    bottom: 0px;
}
*/

/*
[data-testid="stSidebarUserContent"] > div > div > div > div > .stTabs > div > div > div > div > div > div:last-child {
    position: fixed;
    bottom: 0px;
    background-color: rgb(38, 39, 48);
    height: 45px;
    background: blue;
    width: fit-content;
}
*/

/*
.progress {
    position: relative;
    top: 20px;
    display: flex;
    height: 0.6rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 1rem;
    transition: width 1.2s ease;
}
*/

.custom-subheader-active {
    opacity: var(--opacity_full);
}

.custom-subheader-inactive {
    opacity: var(--opacity_half);
}
