:root {
    --opacity_full: 100%;
    --opacity_half: 50%;
  }


.stTabs > div > div > div > button {
    width: 50%;
}

.stProgress, .stSlider {
    display: flex;
    align-items: baseline;
}

.stProgress > :first-child, .stSlider > :first-child  {
    width: 40px;
}

/* Icon */

section:last-child {
    position: relative;
}

div:has(> div.stMarkdown > div > p > i) {
    height: 650px;
}

div.stMarkdown:has(> div > p > i) {
    position: absolute;
    left: 50%;
    top: 50%;
}

i {
    scale: 5;
    opacity: 0.1;
}

/* Headline */

section:last-child {
    position: relative;
}

.headline-container {
    position: relative;
    opacity: 1;
    top: 0px;
    transition: opacity 1s ease-in-out, top 1s ease-in-out;
}

.visible-text {
    opacity: 1;
    top: 20px;
}

h1 {
    font-size: 4.5rem;
    text-align: center;
    background: linear-gradient(90deg, #00dbde, #fc00ff, #00dbde);
    animation: animate 2.5s linear infinite;

    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animate
{
    to {
        background-position: 200%;
    }
}

.element-container:has(div > div > div.headline-container) + div {
    position: relative;
    /* overflow: hidden; */
    height: 500px;
    transition: 1s ease;
}

.element-container:has(div > div > div.headline-container) + div > div{
    width: 100%;
    position: absolute;
}


.element-container:has(div > div > div.headline-container) + div > div:first-child {
    transform: translateX(-100%);
}

.element-container:has(div > div > div.headline-container) + div > div:nth-child(2){
    z-index: 10;
}

.element-container:has(div > div > div.headline-container) + div > div:last-child {
    transform: translateX(100%);
}

/*
.element-container:has(div > div > div.headline-container) + div > div:nth-child(2) > div > div > div {
    display: flex;
    flex-direction: row;
}


.element-container:has(div > div > div.headline-container) + div > div:nth-child(2) > div > div > div > div {
    position: relative;
}

.element-container:has(div > div > div.headline-container) + div > div:nth-child(2) > div > div > div > div > .stCheckbox {
    width: unset;
}
*/

.element-container:has(div > div > div.headline-container) + div:has(div:nth-child(2) > div > div > div > .element-container:nth-child(1) > .stCheckbox > label > input:checked) > div:first-child {
    transform: translateX(0%);
}

.element-container:has(div > div > div.headline-container) + div:has(div:nth-child(2) > div > div > div > .element-container:nth-child(2) > .stCheckbox > label > input:checked) > div:last-child {
    transform: translateX(0%);
}



/* Content 

.slide-container {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.slider {
    display: flex;
    transition: 1s ease;
}

.explanation {
    width: 100%;
    position: absolute;
    transform: translateX(-100%);
}

.intro {
    width: 100%;
    position: absolute;
}

.credits {
    width: 100%;
    position: absolute;
    transform: translateX(100%);
}

#btnControl {
    display: none;
}

.slider:has(#btnControl:checked + label) {
    transform: translateX(40%);
}

*/

/*
div:has(> div.stMarkdown > div > #progress_start) + div { 
    background-color: aqua;
    position: fixed;
    bottom: 0px;
}
*/

/*
[data-testid="stSidebarUserContent"] > div > div > div > div > .stTabs > div > div > div > div > div > div:last-child {
    position: fixed;
    bottom: 0px;
    background-color: rgb(38, 39, 48);
    height: 45px;
    background: blue;
    width: fit-content;
}
*/

/*
.progress {
    position: relative;
    top: 20px;
    display: flex;
    height: 0.6rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 1rem;
    transition: width 1.2s ease;
}
*/

.custom-subheader-active {
    opacity: var(--opacity_full);
}

.custom-subheader-inactive {
    opacity: var(--opacity_half);
}
